/* 서브 페이지 공통 */
.sub-page {
  margin-top: 100px;
}
.sub-page-title {
  margin: 0 0 46px 0;
  font-size: 70px;
  line-height: 105px;
  text-transform: uppercase;
  font-weight: bold;
}

/* pagination */
.pagination-wrap {
  margin-top: 40px;
}
.pagination-wrap > ul {
  display: flex;
  justify-content: center;
}

/* popup */
.popup-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
}
.popup-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.popup-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.popup-text {
  text-align: center;
  margin: 10px 0;
}
.popup-action-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-action-wrap button {
  border: none;
}

@media screen and (max-width: 768px) {
  .sub-page {
    margin-top: 74px;
  }
  .sub-page-title {
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 11px 0;
  }
}
