/* 서브 페이지 공통 */
.sub-page {
  margin-top: 100px;
}
.sub-page-title {
  margin: 0 0 46px 0;
  font-size: 70px;
  line-height: 105px;
  text-transform: uppercase;
  font-weight: bold;
}

/* pagination */
.pagination-wrap {
  margin-top: 40px;
}
.pagination-wrap > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination-wrap > ul > li > button {
  background-color: #fff;
  border: none;
  color: #828c94;
  font-size: 18px;
  margin: 0 5px;
}
.pagination-wrap > ul > li:hover > button {
  color: #656e75;
}
.pagination-wrap > ul > li > button.active {
  color: #3f474d;
  font-weight: 700;
}

/* popup */
.popup-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.popup-wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 105;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
}
.popup-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.popup-text {
  font-size: 16px;
  text-align: center;
  margin: 40px 0;
  line-height: 1.5;
}
.popup-action-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-action-wrap button {
  border: none;
  border-radius: 4px;
  color: #fff;
  background-color: #c996cb;
  padding: 10px 15px;
  font-size: 12px;
  margin: 0 2px;
  transition: all 0.3s linear;
}
.popup-action-wrap button:hover {
  background-color: #551a8b;
}

/* switch */
.switch {
  width: 50px;
}
#switch {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 28px;
  background: #fff;
  border: 2px solid #daa;
  border-radius: 20px;
  transition: 0.2s;
}
.switch_label:hover {
  background: #efefef;
}
.switch_label.project {
  transform: translateY(-20px);
}
.switch_btn {
  position: absolute;
  top: 2px;
  left: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #daa;
  transition: 0.2s;
}

/* checking style */
#switch:checked + .switch_label {
  background: #c44;
  border: 2px solid #c44;
}

#switch:checked + .switch_label:hover {
  background: #e55;
}

/* move */
#switch:checked + .switch_label .switch_btn {
  left: 31px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}

/* 이미지 파일 */
.filepond--credits {
  display: none;
}
@media screen and (max-width: 768px) {
  .sub-page {
    margin-top: 74px;
  }
  .sub-page-title {
    font-size: 32px;
    line-height: 48px;
    margin: 0 0 11px 0;
  }
  .pagination-wrap {
    margin-bottom: 60px;
  }
}
