/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@charset 'utf-8';

@import "./common.css";
@import "./layout.css";
@import "./main.css";
@import "./auth.css";
@import "./sub.css";
@import "./edit.css";

@font-face {
  font-family: "Noto Sans KR";
  src: url("./noto_sans_kr/NotoSansKR-Light.otf?#iefix")
      format("embedded-opentype"),
    url("./noto_sans_kr/NotoSansKR-Light.woff2") format("woff2"),
    url("./noto_sans_kr/NotoSansKR-Light.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./noto_sans_kr/NotoSansKR-Regular.otf?#iefix")
      format("embedded-opentype"),
    url("./noto_sans_kr/NotoSansKR-Regular.woff2") format("woff2"),
    url("./noto_sans_kr/NotoSansKR-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./noto_sans_kr/NotoSansKR-Medium.otf?#iefix")
      format("embedded-opentype"),
    url("./noto_sans_kr/NotoSansKR-Medium.woff2") format("woff2"),
    url("./noto_sans_kr/NotoSansKR-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("./noto_sans_kr/NotoSansKR-Bold.otf?#iefix")
      format("embedded-opentype"),
    url("./noto_sans_kr/NotoSansKR-Bold.woff2") format("woff2"),
    url("./noto_sans_kr/NotoSansKR-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Noto Sans KR", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
pre {
  white-space: pre-line;
}
button {
  cursor: pointer;
}
