/* about */

.sub-about-wrap {
  position: relative;
  z-index: 1;
  background-color: #f9f9f9;
}
.sub-about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.sub-about-tab {
  display: flex;
  position: relative;
}
.sub-about-tab::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #f5f5f5;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.sub-about-tab > li {
  padding: 10px 20px;
  cursor: pointer;
  color: #808080;
  transition: all 0.2s linear;
  border-bottom: 2px solid transparent;
}
.sub-about-tab > li:hover {
  color: #c996cb;
  border-bottom: 2px solid #c996cb;
}
.sub-about-tab > li.foc {
  color: #1d0d5c;
  border-bottom: 2px solid #1d0d5c;
}
.sub-about-contents {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
}
.sub-about-contents > div {
  width: 50%;
  margin-bottom: 30px;
}
.sub-about-contents > div:nth-child(even) {
  padding-left: 30px;
}
.sub-about-contents > div > h2 {
  font-size: 21px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* about / introduce */

.sub-about-introduce {
  font-size: 18px;
  line-height: 1.8;
  color: #1d0d5c;
}

/* about / info */

.sub-about-info li {
  margin-bottom: 10px;
}
.sub-about-info li strong {
  margin-right: 5px;
  font-size: 1.125rem;
  letter-spacing: -0.5px;
  font-weight: 600;
  color: #c996cb;
}

/* about / project */

.timeline ul {
  /* padding: 1em 0 0 2em; */
  padding: 1em 0 0 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.timeline ul::before {
  content: " ";
  height: 100%;
  width: 1px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0;
  /* left: 2.5em; */
  left: 0.5em;
  z-index: -1;
}
.timeline li div {
  display: inline-block;
  margin: 1em 0;
  vertical-align: top;
}
.timeline .bullet {
  width: 1em;
  height: 1em;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  margin-right: 1em;
}
.timeline .bullet.pink {
  border: 2px solid #f93b69;
}
.timeline .bullet.green {
  border: 2px solid #b0e8e2;
}
.timeline .bullet.orange {
  border: 2px solid #eb8b6e;
}
.timeline .time {
  width: 20%;
  font-size: 0.75em;
  padding-top: 0.25em;
}
.timeline .desc {
  width: 50%;
}
.timeline h3 {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}
.timeline h4 {
  margin: 0;
  font-size: 0.7em;
  font-weight: 400;
  color: #808080;
}
.timeline .people img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* about / skills */

.progress-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.progress-bar-item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.progress-bar-item p {
  margin-bottom: 10px;
}

/* about / knowledges */

.keywords-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.keywords-wrap > li {
  padding: 3px 10px;
  color: #fff;
  background-color: #c996cb;
  border-radius: 3px;
  margin: 3px 2px;
  font-size: 13px;
}

/* blog */

.sub-blog-wrap {
  /* position: relative;
  z-index: 1;
  background-color: #f9f9f9; */
}
.sub-blog {
  padding-top: 60px;
  padding-bottom: 60px;
}

.sub-blog > p {
  font-size: 18px;
  line-height: 1.8;
  color: #1d0d5c;
}

.sub-blog-tag {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.sub-blog-tag > li {
  padding: 0px 18px;
  background-color: #35c5f0;
  border-radius: 25px;
  margin-right: 16px;
  margin-bottom: 10px;
}
.sub-blog-tag > li:last-child {
  margin-right: 0;
}
.sub-blog-tag > li > a {
  color: #fff;
  line-height: 40px;
  font-size: 16px;
  font-weight: lighter;
  display: block;
}
.sub-blog-tag::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0;
  background-color: #f5f5f5;
}

/* 블로그 리스트 */

.sub-blog-item {
  padding: 26px 0;
  border-bottom: 1px solid #eaebef;
  position: relative;
}
.sub-blog-item::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0;
  background-color: #c996cb;
  bottom: -1px;
  transition: width 0.3s linear;
}
.sub-blog-item:hover:after {
  width: 100%;
}
.sub-blog-item > a {
  display: block;
}
.sub-blog-item > a > span {
  color: #c996cb;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.3px;
}
.sub-blog-item > a > h2 {
  margin: 20px 0 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #000;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.sub-blog-item > a > p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.32px;
  color: #212529;
  margin-bottom: 24px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}
.sub-blog-item-info {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.32px;
  color: #828c94;
  font-weight: lighter;
}
.sub-blog-item-info > span:nth-child(2) {
  margin: 0 12px;
  color: #dadce0;
}

/* 블로그 세부 페이지 */

.sub-blog-detail-title {
  margin-bottom: 80px;
}
.sub-blog-detail-title > span {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.38px;
  color: #35c5f0;
}
.sub-blog-detail-title > h2 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 24px;
}
.sub-blog-detail-title > p {
  font-size: 20px;
  line-height: 1.4;
  color: #212529;
  margin-top: 24px;
}
.sub-blog-detail-info {
  margin-top: 40px;
  font-size: 16px;
  letter-spacing: -0.32px;
  color: #828c94;
}
.sub-blog-detail-info > span:nth-child(2) {
  margin: 0 12px;
  color: #dadce0;
}
.sub-blog-detail-contents {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
}
.sub-blog-detail-btn {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.sub-blog-detail-btn > a,
.sub-blog-detail-btn > button {
  display: block;
  border-radius: 4px;
  color: #fff;
  background-color: #c996cb;
  padding: 20px 30px;
  transition: all 0.3s linear;
}
.sub-blog-detail-btn > a:hover {
  background-color: #551a8b;
}

@media screen and (max-width: 768px) {
  /* about */
  .sub-about-contents > div {
    width: 100%;
  }
  .sub-about-contents > div:nth-child(even) {
    padding-left: 0;
  }
  /* about / introduce */
  .sub-about-introduce {
    font-size: 12px;
  }
  /* about / info */
  .sub-about-info li {
    font-size: 0.875rem;
  }
  .sub-about-info li strong {
    font-size: 0.875rem;
  }
  /* blog */
  .sub-blog > p {
    font-size: 12px;
  }
  /* blog detail */
  .sub-blog-detail-title > span {
    font-size: 16px;
  }
  .sub-blog-detail-title > h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .sub-blog-detail-title > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 350px) {
  /* about / skills */
  .progress-bar-item {
    width: 50%;
  }
}
